*{
    color: black;
    font-family: 'Quicksand', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#box{
    background-color: none;
    padding: 0px;
    width: 300px;
    height: 500px;
    border-radius: 0px;

}

#top{
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0093E9; nmjkui7889#80D0C7 100%);
    border-radius: 8px 8px 0px 0px;
}

#bottom{
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
}

#head{
    text-align: center;
    position: relative;
    top: 50px;
    color: white;
    font-size: 25px;
}

#currency{
    color: #02162a;
    text-align: center;
    padding: 0px;
    width: 70px;
    height: 80px;
}

#input{
    height: 41px;
    color: rgb(255, 255, 255);
    background: none;
    text-align: left;
    padding-bottom: 6px;
    font-size: 40px;
    max-width: 120px;
    border: none;
    border-bottom: 1px solid white;
    margin-right: 5px;
}

#input:focus{
   outline: none;
}

#result{
    border-bottom: 2px solid #8EC5FC ;
    padding: 0px;
    font-size: 40px;
    width: 120px;
    text-align: left;
    color: #8EC5FC;
    margin-right: 5px;
}

#usdtop, #cadtop, #eurtop, #yentop{
    letter-spacing: 1.2px;
    color: white;
    font-size: 18px;

}

#usd, #cad, #eur, #yen{
    letter-spacing: 1.2px;
    font-size: 18px;
    color: #48a1fa;

}

#usdtop:active, #cadtop:active, #eurtop:active, #yentop:active, #usd:active, #cad:active, #eur:active, #yen:active{
    color: rgb(243, 93, 67);

}

#usdtop:hover, #cadtop:hover, #eurtop:hover, #yentop:hover, #usd:hover, #cad:hover, #eur:hover, #yen:hover{
    cursor: pointer;
}


button{
    text-align: center;
    position: relative;
    left: 105px;
    top: 10px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
}


button:hover{
    cursor: pointer;
}

button:active{
    background-image: linear-gradient(160deg, #0270af 0%, #67a79f 100%);
}


